@charset "UTF-8";


/*CSS DO MENU*/
.menu {
  list-style: none;
  display: flex;
  
  padding: 0;
  margin: 0;
}

.menu > li {
  position: relative; /* necessário para posicionar o submenu */
}

.menu > li > a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

/* Esconde o submenu inicialmente */
.submenu {
  display: none;
  position: sticky;
  top: 100%; /* Posiçao para esconder o submeu  se ele vai sobrepor o menu dele ou abaixo e por ai em diante*/
  left: 0px;
  list-style: none;
  background-color: rgb(177, 141, 141);;
  padding: 0;
  margin: 0;
}

/* Mostra o submenu ao passar o mouse no item pai */
.menu li:hover .submenu {
  display: block;
}

/* Estilo dos links do submenu */
.submenu li a {
  
  padding: 0px;
  color: rgb(154, 153, 196);
  text-decoration: none;
}

.submenu li a:hover {
  background-color: #555;
}
nav
{
    box-shadow: inset 3px 7px 2px rgba(207, 63, 200, 0.288);
}
nav  ul 
{
    display: flex;
    gap: 15px;
    list-style: none;
    background-color:rgb(177, 141, 141);;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
}
nav a
{
    
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-right: 30px;
    justify-content: right;
}
a:hover
{
    text-decoration: none;
    color: rgb(199, 199, 230);
}
h1
{
    text-align: center;
}

#rodape
{
    background-color:rgb(177, 141, 141);
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}
.rodape
{
    margin: auto;
}
footer > p 
{
    margin: 0px;
}



