@charset "UTF-8";


body
{
    background-image: linear-gradient( to right, #df8ab4, #646e78 ) ;
    font:  normal 15pt Arial;
}
section
{
    background-color: white;
    border-radius: 9px;
    box-shadow: 10px 10px  200px rgba(185, 19, 102, 0.533);
    width: 400px;
    padding: 15px;            margin: auto; 
}
       
header
{
    color: #817f7f;
    text-align: center;
} 
footer
{
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 10pt;
            
}
div
{
    text-align: center;
    padding: 8px;
}
       
        
    
    