<style>
        body
        {
            
            background-image: linear-gradient( to right, #df8ab4, #646e78 ) ;

            font:  normal 15pt Arial;
        }
        section
        {
            
            border-radius: 9px;
            box-shadow: 10px 10px  200px rgba(185, 19, 102, 0.533);
            width: 500px;
            height: 400px;
            padding: 15px; 
            margin: auto; 
        }
       
        header
        {
            color: #c3423f;
            text-align: center;
        } 
        footer
        {
            text-align: center;
            font-style: italic;
            
        }
        
    </style>