@charset "UTF-8";

body
{
    background-color: bisque;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1
{
    color: rgb(245, 174, 87);
}

h1#principal 
{
    text-align: center;
    background-color: blue;
    color: rgb(77, 77, 129);
}

h2
{
    color: rgb(112, 71, 20);  
}