@charset "UTF-8";

body
{
    background-color: #F5BCF2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1
{
    color:#755A74;
}

h1#principal 
{
    text-align: center;
    background-color: #362935;
    color: #ffffff;
}

h2
{
    color: #7a5b79;  
}
.basico
{
    color: aqua;
}
.intermediario
{
    color: crimson;
}
.avancado
{
    color: darkgreen;
}
.destaque
{
    background-color: cornflowerblue;
}