@charset "UTF-8";

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5BCF2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1#secundario
{
    color:#2f2b69;
}

h1#principal 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #1b0b1a;
    color: #ffffff;
}

h2
{
    color: #7a5b79;  
}
.basico
{
    color: aqua;
}
.intermediario
{
    color: crimson;
}
.avancado
{
    color: darkgreen;
}
.destaque
{
    background-color: cornflowerblue;
}