@charset "UTF-8";
*, *::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face
{
    font-family: 'IDroid';
    src: url('pacote-projeto-d010/fontes/idroid/IDroid.otf') format('opentype');
}
html, body 
{
  max-width: 100%;
  overflow-x: hidden;
}

header
{
    background: linear-gradient(0deg,#185feef5 20%, #3e76e6 45%, #4a7ad8 95%);
    color: rgb(252, 252, 252);
    padding: 20px;
    max-width: 100%;
    
}
header h1
{
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin: 20px;
}
.geral h1
{
    
    font-size: clamp(1.2rem, 2vw, 5rem);
    text-align: left;
    font-family: 'IDroid';
    padding: 20px 20px 20px 20px;
    color: #185feef5;
}
.geral h2
{
    font-size: clamp(1.5rem, 1vw, 5rem);
    text-align: left;
    margin: 10px;
    font-family: 'IDroid';
    padding: 5px 0px 5px 5px;
    background: #9BB5E8;
    background: linear-gradient(90deg, rgba(155, 181, 232, 1) 0%, rgba(240, 255, 255, 1) 90%);
    color: #2d6dee ;
    
}

body
{
    background: #9BB5E8;
    overflow-x: hidden;
    line-height: 1.5rem;
    font-size: 1rem;
    
}

header > p
{
    text-align: center;
    color: rgba(245, 245, 245, 0.822);
    padding: 15px 15px 30px 30px;
    margin-bottom: 10;
}
nav ul
{
    list-style: none;
    justify-content: flex-start;
    display: flex;
}
nav a
{
    text-decoration: none;
    padding: 4px;
    color: beige;   
}
.geral
{
    background-color: rgb(240, 255, 255);
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
    box-shadow: 2px 5px 20px 3px rgba(0, 0, 0, 0.322);
}
.geral a
{
    text-decoration: none;
    font-style: bold;
    color: #0a4dd4;
}

.aprender 
{
    
    margin-left: 20px;
    margin-right: 20px;
    background: #5f90eb33;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 6px 6px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 20px 3px rgba(0, 0, 0, 0.247);

    
}
.aprender h3
{
    
    max-width: 100% ;
    color: aliceblue;
    background-color: #5b86dd;
    padding: 10px;
    border-radius: 6px 6px 0px 0px;     
}
.listas
{
   
   display: flex;
   flex-wrap: wrap;
   gap: 0px;
   justify-content: center;
   max-width: 1000px;
   
   
    
}
.listas li
{
    display: flex;
    align-items: flex-start;
    flex: 1 1 50%;
    padding: 2px 2px 5px 30px;
    list-style-position: inside ;
    list-style: none;
   
}
.listas li::before
{
    content: "✔";
    margin-right: 8px;
}
footer
{
    background-color: #185feef5 ;
    max-width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.705);
}
.rodape a
{
    color: white;
    text-decoration: none;
}
.atelogo
{
   
    padding: 5px 15px 5px 15px;
    text-indent: 20px;
    text-align: left;
    
}
.mascote p
{
    text-align: left;
    padding: 15px 15px 5px 15px;
    text-indent: 20px;

    
}
.historia p
{
    text-indent: 20px;
    padding: 15px 15px 5px 15px;
}
.versao p
{
    padding: 15px 15px 5px 15px;
    text-indent: 20px;

}
.aprender p
{
    padding: 5px 15px 5px 15px;
    text-indent: 20px;
}
.dan-droids
{
    text-align: center;
}
.irina-blok
{
    text-align: center;
}
.bugdroid
{
    text-align: center;
}
#android 
{
    position: relative;
    padding-bottom: 56.25%; /* proporção 16:9 */
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background: #0b45b9 ;
    

    
}
#android iframe
{
    position: absolute;  
    top: 20px;
    left: 20px;
    height:calc(100% -40px);
    width: calc(100% - 40px);
    display: block;
    border: none;
    box-shadow: 2px 5px 20px 3px rgba(0, 0, 0, 0.253);
      
}


